{% extends "base.html" %}

{% block content %}
<h1>Sign Up</h1>
{% if username %}
<h2>Hello, {{ username }}</h2>
{% else %}
<div class="shadow-sm p-3 mb-5 bg-body-tertiary rounded">
{% if email_error %}
    <div class="alert alert-danger">{{ email_error }}</div>
{% endif %}
<form method="post">
    {{ form.hidden_tag() }}
    {{ form.username.label(class="form-label") }}
    {{ form.username(size=32, class="form-control", value = NULL) }}
    {{ form.password.label(class="form-label") }}
    {{ form.password(size=32, class="form-control", value = NULL) }}
    {{ form.email.label(class="form-label") }}
    {{ form.email(size=32, class="form-control", value = NULL) }}
    <br/>
    {{ form.submit(class="btn btn-primary") }}
</form>
</div>
{% endif %}
<br/><br/><br/>
<h2>All Users</h2>
<table class="table table-hover table-bordered table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
    {% for user in all_user %}
        <tr>
            <td>{{ user.id }}</td>
            <td><a href="{{ url_for('user_update', id=user.id) }}">{{ user.username }}</a></td>
            <td>{{ user.email }}</td>
            <td><a href="{{ url_for('delete', id=user.id) }}">Delete</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}